*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;      
  }
  
  .heading
  {
      color:lime; font-family:sans-serif; text-align: center;
      border-spacing: 0;
  }
  
    
  .navbar{
          width: 100vw;
  }